Obj/
run.exe
log.txt
program_code.txt
processor/out.txt
input.txt
program_code_text.txt
asm.exe
spu.exe
asmlog.txt
spulog.txt
bad_apple/
preproc_out.cpp
program.asm
asm_progs/fibonacci_recursive.bin
asm_progs/fibonacci_recursive.txt
asm_progs/quadratka.bin
asm_progs/quadratka.txt
program_code.bin
asm_progs/ball.txt
asm_progs/ball.bin
asm_progs/squares.bin
asm_progs/squares.txt
